---
layout: main
title: Other docs
permalink: /other-docs/
---

<section class="docs">
<h1>Other docs</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Title</th>
      <th style="text-align: center">Content</th>
      <th style="text-align: left">Author</th>
    </tr>
  </thead>
{% for post in site.other-docs %}
  <tbody>
    <tr>
      <td style="text-align: center"><a href="{{ post.filename  }}">{{ post.title }}</a></td>
      <td style="text-align: center">{{ post.subtitle }}</td>
      <td style="text-align: left">{{ post.main_author }}</td>
    </tr>
  </tbody>
{% endfor %}

</table>

</section>
